{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/list_page.css' %}">
{% endblock css %}

{% block header %}
게시글 리스트 페이지
{% endblock %}

{% block write %}
<a class="write-btn" href="{% url 'create_page' %}">게시글 작성하기</a>
{% endblock %}

{% block content %}

<h3>게시글 목록</h3>
{% if not posts %}
<p class="if-no-post">지금은 게시글이 없네요..</p>
{% endif %}

{% for post in posts %}
<a class="post-title" href="{% url 'detail_page' post.pk %}">{{ post.title }} (조회수: {{ post.hit }})</a>
{% endfor %}
{% endblock %}