h2 {
    color: green;
}

a {
    text-decoration: none;
    color: inherit;
    padding-left: 5px;
    border: 2px solid green;
    border-radius: 7px;
    padding: 3px;
}

a:hover {
    background-color: rgb(195, 241, 195);
} 